html {
  background: rgb(78, 32, 0);
  background: linear-gradient(
    90deg,
    rgba(78, 32, 0, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  font-family: Dosis, sans-serif;
  overflow: hidden;
}
::selection {
  color: #fff;
  background-color: #ff8000;
}
.titulo-bloco {
  display: flex;
  justify-content: center;
}
img.logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
.titulo {
  color: #000;
  text-align: center;
  font-size: 38px;
  font-weight: 800;
}
.cor-atual {
    color: #ff8000;
}
.bloco {
  background-color: #fff;
  margin: 5% 10%;
  padding: 5%;
  border-radius: 15px;
  box-shadow: -10px 10px 30px 10px #000;
}
header {
  display: flex;
}

.local {
  margin: 0 2%;
  font-size: 19px;
}
.linha {
  display: block;
  width: 50%;
}
.padrao {
  color: #000;
  margin: 0;
}
.campo {
  font-size: 19px;
  padding-top: 5%;
}
.valor {
  font-size: 26px;
  font-weight: 600;
}
.info-bloco {
  display: flex;
}
.item {
  margin-right: 5%;
  margin-bottom: 5%;
}
.ico-temperatura {
  margin-top: 0;
}
footer {
  padding-bottom: 4%;
}
.ico-footer {
  font-size: 24px;
  float: right;
}
.open {
  margin: 5% 10%;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}

.qtip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #000;
  box-sizing: border-box;
  font-style: normal;
  transition:all .25s ease-in-out;
  font-style: normal;
}
.qtip:before {
  content: attr(data-tip);
  font-size: 14px;
  position: absolute;
  /*background: rgba(10, 20, 30, 0.85);*/
  background: #000;
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  min-width: 120px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 600
}
.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.qtip:hover:before,
.qtip:hover:after {
  visibility: visible;
  opacity: 1
}

.qtip.tip-right:before {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-right:after {
  border-width: 8px 8px 8px 0;
  border-color: transparent #000 transparent transparent;
  right: -8px;
  top: 50%;
  transform: translate(0, -50%);
}
